body{
    background-color: #000000;
}
#wrap{
    display: block;
    position: relative;
    margin: 0px auto;
    height: 500px;
    width: 700px;
    background-color: #6475c0;
}
h1{
    

}
h2{
    padding-left: 5px;
}
.p1{
    display: inline-block;
}

#nav{
    position: relative;
    top: 0px;
    left: 40px;
    padding-top: 20px;
    padding-left: 15px;
    background-color: #afbeeb;
    height: 85%;
    width: 200px;
}
#content{
    position: absolute;
    background-color: #8ea9e4;
    padding-top: 20px;
    padding-left: 15px;
    top: 0px;
    left: 30%;
    height: 85%;
    width: 400px;
    text-align: center;
       
}
ul{
    list-style: none;
}
